version: '3'
services:
  pg-admin:
    image: dpage/pgadmin4
    network_mode: host
    ports:
      - 80:80
    environment:
      PGADMIN_DEFAULT_EMAIL: djms1234@gmail.com
      PGADMIN_DEFAULT_PASSWORD: denis1234
    volumes:
      - pgadmin-vol:/var/lib/pgadmin

volumes:
  pgadmin-vol: